@model WebTranslator.Models.Translator


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    textarea {
        resize: none;
    }
</style>

<script type="text/javascript">

    function callService () {
        var ServiceUrl = "@Url.Action("GetTranslation", "Translate")";

        $.ajax({
            type: 'POST',
            url: ServiceUrl,
            data:
                {
                    from: $('#ddlSourceLanguage').val(),
                    to: $("#ddlTargetLanguage").val(),
                    text: $('#TranslateText').val()
                },
            error: function (xhr, err) {
                alert('error');
            },
            success: function (result, status) {
                $('#TranslateResult').text(result.toString());
            }
        });
    }

    function Speak()
    {
        var ServiceUrl = "@Url.Action("SpeakUrl", "Translate")";

        $.ajax({
            type: 'POST',
            url: ServiceUrl,
            data:
                {
                    text: $('#TranslateResult').val(),
                    language: $('#ddlTargetLanguage').val()
                },
            error: function (xhr, err) {
                alert('error while playing audio');
            },
            success: function (result, status) {
                if (result == '') {
                    alert('The text is empty. Write something');
                }
                else {
                    var s = document.createElement("source");
                    s.setAttribute("src", result.toString());
                    s.setAttribute("type", "audio/mpeg");
                    $("video").empty();
                    document.getElementsByTagName("video")[0].appendChild(s);
                    $("video").load();
                }
            }
        });
    }

    jQuery(document).ready(function () {
        $(".ddl").change(callService);

        $("form").submit(function (event) {
            event.preventDefault();
            callService();
        });


        //start a timer when the user releases a key and clear it when they press one.

        //setup before functions
        var typingTimerID;                //timer identifier
        var doneTypingInterval = 3000;  //time in ms, 3 second for example

        //on keyup, start the countdown
        $('#TranslateText').keyup(function () {
            clearTimeout(typingTimerID);
            typingTimerID = setTimeout(callService, doneTypingInterval);
        });

        //on keydown, clear the countdown 
        $('#TranslateText').keydown(function () {
            clearTimeout(typingTimerID);
        });

    });
</script>

@using (Html.BeginForm(FormMethod.Post))
    {
<div class="row 150%">
   
        <div class="4u">
            <section class="box">

                @Html.DropDownListFor(x => x.SourceSelectedValue, Model.SourceLanguages, "From", new { id = "ddlSourceLanguage", @class = "dll"})
                @Html.Label("Origen:")
                @Html.EditorFor(x => x.TranslateText)
                <br />
                <br />
                <input type="submit" value="Translate" class="btnTrans"/>
                <br/>
                <br/>
                <a href="#" class="btnTrans" onclick="Speak(); return false;">Listen Audio</a>
                <br />
                <br />
                <a href="#" class="btnTrans">Send By Email</a>
            </section>
        </div>
        
        <div class="4u">
            <section class="box">
                @Html.DropDownListFor(x => x.TargetSelectedValue, Model.TargetLanguages, "To", new { id = "ddlTargetLanguage", @class = "ddl" })
                @Html.Label("Destino:")
                @Html.EditorFor(x=> x.TranslateResult)
            </section>
        </div>
        <video autoplay>

        </video>

</div>
}