@model WebTranslator.Models.Translator


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    textarea {
        resize: none;
    }
</style>

<script type="text/javascript">

    function callService () {
        var ServiceUrl = "@Url.Action("GetTranslation", "Translate")";

        $.ajax({
            type: 'POST',
            url: ServiceUrl,
            data:
                {
                    from: $('#ddlSourceLanguage').val(),
                    to: $("#ddlTargetLanguage").val(),
                    text: $('#TranslateText').val()
                },
            error: function (xhr, err) {
                alert('error');
            },
            success: function (result, status) {
                $('#TranslateResult').text(result.toString());
            }
        });
    }

    function Speak()
    {
        var ServiceUrl = "@Url.Action("SpeakUrl", "Translate")";

        $.ajax({
            type: 'POST',
            url: ServiceUrl,
            data:
                {
                    text: $('#TranslateResult').val(),
                    language: $('#ddlTargetLanguage').val()
                },
            error: function (xhr, err) {
                alert('error while playing audio');
            },
            success: function (result, status) {
                if (result == '') {
                    alert('The text is empty. Write something');
                }
                else {
                    var s = document.createElement("source");
                    s.setAttribute("src", result.toString());
                    s.setAttribute("type", "audio/mpeg");
                    $("audio").empty();
                    document.getElementsByTagName("audio")[0].appendChild(s);
                    $("audio").load();
                }
            }
        });
    }

    function DetectLang()
    {
        var ServiceUrl = "@Url.Action("Detect", "Translate")";

        $.ajax({
            type: 'POST',
            url: ServiceUrl,
            data:
                {
                    text: $('#TranslateText').val()
                },
            error: function (xhr, err) {
                alert('error while detecting language');
            },
            success: function (result, status) {
                if (result == '') {
                    alert('ERROR 200');
                }
                else {
                    $("#ddlSourceLanguage").val(result);
                    callService();
                }
            }
        });

    }


    jQuery(document).ready(function () {
        $(".ddl").change(callService);

        //Onclick when submmit button is clicked
        $("form").submit(function (event) {
            event.preventDefault();
            callService();
        });

        //on keyup, detect language
        $('#TranslateText').keyup(function () {
            if ($(this).val().length > 0) {
                DetectLang();
            }
        });

        

    });
</script>


<section id="Translate" class="three">
    <div class="">
        @using (Html.BeginForm(FormMethod.Post))
        {
            <div class="wrapper style2">
                <div class="title">Texto Original</div>
                <div id="inner-main" class="container3">
                    <div class="row">
                        <div class="6u -3u">
                            <span>Seleccione el idioma</span>
                            @Html.DropDownListFor(x => x.SourceSelectedValue, Model.SourceLanguages, "From", new { id = "ddlSourceLanguage", @class = "dll" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="6u -3u">
                            @Html.EditorFor(x => x.TranslateText)
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="6u -3u">
                            <span>Traducir a</span>
                            @Html.DropDownListFor(x => x.TargetSelectedValue, Model.TargetLanguages, "To", new { id = "ddlTargetLanguage", @class = "ddl" })
                            <br />
                            <input type="submit" value="Translate" class="btnTrans button style1" />
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="wrapper style3">
                <div class="title">Traducción</div>
                <div id="inner-main" class="container3">
                    <div class="row">
                        <div class="6u -3u">
                            @Html.EditorFor(x => x.TranslateResult)
                        </div>
                    </div>
                    <div class="row">
                        <div class="6u -3u">
                            <div class="row">
                                <div class="3u">
                                    <span>Copy</span>
                                </div>
                                <div class="3u">
                                    <a href="#" class="btnTrans" onclick="Speak(); return false;">Listen</a>
                                </div>
                                <div class="3u">
                                    <a href="#" class="btnTrans">Send By Email</a>
                                </div>
                                <div class="3u">
                                    <span>Share</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <audio autoplay></audio>
    </div>
</section>
