@model WebTranslator.Models.Currency

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {

        $("#btnConvert").click(function (e) {
            e.preventDefault();
            var url = "@Url.Action("Convert", "Currency")";

            $.ajax({
                type: 'POST',
                url: url,
                data:
                    {
                        value: $('#QuotedValue').val(),
                        from: $('#ddlSourceCurrency').val(),
                        to: $('#ddlTargetCurrency').val(),
                    },
                error: function (xhr, err) {
                    alert('error while coverting currency');
                },
                success: function (result, status) {
                    if (result != "" || result != "-1") {
                        $("#CurrencyResult").val(result);
                    }
                    else {
                        alert('ERROR 100');
                    }
                }
            });
        });

    });

</script>

<section id="Currency" class="three">
    <div class="">
        @using (Html.BeginForm(FormMethod.Post))
        {
            <div class="wrapper style2">
                <div class="title">Conversor</div>
                <div id="inner-main" class="container3">
                    <div class="row">
                        <div class="6u -3u">
                            <div class="row">
                                <div class="6u">
                                    @Html.DropDownListFor(x => x.SelectedValueFrom, Model.From, "From", new { id = "ddlSourceCurrency", @class = "dll" })
                                </div>
                                <div class="6u">
                                    @Html.DropDownListFor(x => x.SelectedValueTo, Model.To, "To", new { id = "ddlTargetCurrency", @class = "ddl" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="6u -3u">
                            <div class="row">
                                <div class="6u">
                                    @Html.EditorFor(x => x.QuotedValue)
                                </div>
                                <div class="6u">
                                    @Html.EditorFor(x => x.CurrencyResult)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="6u -3u">
                            <input type="submit" value="Convert" id="btnConvert" class="btnTrans button style1" />
                        </div>
                    </div>
                </div>
            
            </div>
        }
    </div>
</section>