@model WebTranslator.Models.Currency

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {

        $("#btnConvert").click(function (e) {
            e.preventDefault();
            var url = "@Url.Action("Convert", "Currency")";

            $.ajax({
                type: 'POST',
                url: url,
                data:
                    {
                        value: $('#QuotedValue').val(),
                        from: $('#ddlSourceCurrency').val(),
                        to: $('#ddlTargetCurrency').val(),
                    },
                error: function (xhr, err) {
                    alert('error while coverting currency');
                },
                success: function (result, status) {
                    if (result != "" || result != "-1") {
                        $("#CurrencyResult").val(result);
                    }
                    else {
                        alert('ERROR 100');
                    }
                }
            });
        });

    });

</script>

<section id="Currency" class="three">
    <div class="container">
        @using (Html.BeginForm(FormMethod.Post))
        {
            <div class="row">
                <div class="4u">
                    @Html.DropDownListFor(x => x.SelectedValueFrom, Model.From, "From", new { id = "ddlSourceCurrency", @class = "dll" })
                </div>
                <div class="1u">
                    switch
                </div>
                <div class="4u">
                    @Html.DropDownListFor(x => x.SelectedValueTo, Model.To, "To", new { id = "ddlTargetCurrency", @class = "ddl" })
                </div>
            </div>
            <div class="row">
                <div class="4u">
                    @Html.EditorFor(x => x.QuotedValue)
                </div>
                <div class="1u">
                    ==
                </div>
                <div class="4u">
                    @Html.EditorFor(x => x.CurrencyResult)
                </div>
            </div>
            <div class="row">
                <div class="2u">

                </div>
                <div class="5u">
                    <input type="submit" value="Convert" id="btnConvert" class="btnTrans" />
                </div>
                <div class="5u">

                </div>
            </div>
        }
    </div>
</section>